@use '../styles/common.scss';

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.content {
    min-height: calc(100vh - 40px);
    z-index: 1;
    position: relative;
    flex: 1 1 auto;
}

.footer {
    margin-top: auto;
}